<!DOCTYPE HTML>
<html>
<head>
	<title>Checkout</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
	<style type="text/css">
		body{
			background-color: #c3c3d5;
			background-image: url(https://i.ytimg.com/vi/DRgpu5NlNVQ/maxresdefault.jpg);
			background-size: cover;

		}
		h1,h2{
  font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}
	</style>
</head>
<body>
	<div><center>
	<h1 style="font-size: 80px;">Item on its way!</h1><br><h2 style="font-size: 70px;position: absolute;bottom: 10px;">We know you are gonna like it but make sure you return it!</h2></center>
	</div>
</body>
</div>
